@using BachelorModelViewController.Models.ViewModels.ChannelViewModels
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@using BachelorModelViewController.Models;

@inject SignInManager<User> signInManager
@inject RoleManager<IdentityRole> roleManager

@model AccessibleChannelsViewModel
    @if (signInManager.IsSignedIn(User))
    {
        <p>
            @if (Model.AdminForGroup)
            {
                <a asp-action="Create" asp-route-asUser="@false" class="btn btn-default">Create a Channel associated with a Group</a>
            }
            <a asp-action="Create" asp-route-asUser="@true" class="btn btn-default">Create a Channel associated with your account</a>
        </p>
    }

    @if (Model.GroupRestrictedChannels != null)
    {

        @if (Model.GroupRestrictedChannels.Any())
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Group-restricted Channels
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GroupRestrictedChannels)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a class="pull-right" asp-action="Details" asp-route-id="@item.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    @if (Model.UserRestrictedChannels != null)
    {
        @if (Model.UserRestrictedChannels.Any())
        {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        User-restricted Channels
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserRestrictedChannels)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a  class="pull-right" asp-action="Details" asp-route-id="@item.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    }

    @if (Model.UnRestrictedChannels.Any())
    {
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Un-restricted Channels
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UnRestrictedChannels)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a  class="pull-right" asp-action="Details" asp-route-id="@item.Id">View</a>
                    </td>
                </tr>
                }
        </tbody>
    </table>
    }
        
