@using BachelorModelViewController.Models.ViewModels.ChannelViewModels
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@model DetailsViewModel

    @{
        ViewData["Title"] = "Details";
    }

    <h2>Details</h2>

    <div>
        @if (Model.Channel.UserId != null)
        {
            <h4>@Html.DisplayFor(model => model.Channel.Name) is a channel owned by the user: @Html.DisplayFor(model => model.Channel.User.FirstName) </h4>
        }
        else
        {
            <h4>@Html.DisplayFor(model => model.Channel.Name) is a channel owned by the group: @Html.DisplayFor(model => model.Channel.Group.Name) </h4>
        }
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <p>Below is general information regarding the channel</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Channel.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Channel.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Channel.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Channel.Description)
                    </dd>
                    @if (Model.PushAccess)
                    {

                        <dt>
                            Datatype
                        </dt>
                        <dd>
                            The following datatype is used for both POST- and GET-calls:
                        </dd>
                        <dd>
                            Insert Datatype.
                        </dd>
                        <dd>
                            The following values are required for POST-calls:
                        </dd>
                        <dd>
                            Insert Required Fields.
                        </dd>
                        <dt>
                            EntryPoints
                        </dt>
                        <dd>
                            The following REST calls are POST-calls:
                        </dd>
                        <dd>
                            localhost:8000/api/post_channel_data/@Html.DisplayFor(model => model.Channel.Name)/@Html.DisplayFor(model => model.CurrentUser.Token)
                        </dd>
                        <dd>                            
                            localhost:8000/api/post_channel_data/@Html.DisplayFor(model => model.Channel.Name)/@Html.DisplayFor(model => model.CurrentUser.Token)
                        </dd>

                    }
                    else
                    {

                        <dt>
                            Datatype
                        </dt>
                        <dd>
                            The GET-calls will return the following datatype:
                        </dd>
                        <dd>
                            Insert Datatype.
                        </dd>

                    }
                    <dt>
                        EndPoints
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Channel.Description)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                @if (Model.Channel.DaysRestriction == 0)
                {
                    <p>We will keep all of this channels data until an administrator of the channel deletes the data.</p>
                }
                else
                {
                    <p>
                        The creator of this channel has deemed the data irrelevant after @Html.DisplayFor(model => model.Channel.DaysRestriction).<br />
                        The data will therefore be deleted around this time.
                    </p>
                }
            </div>
        </div>
    </div>
    <div>
        @if (Model.EditAccess)
        {
            <a asp-action="Edit" asp-route-id="@Model.Channel.Id">Edit</a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
